body{

margin: 0;

}

header{

background-color: rgb(28, 28, 245);
padding: 15px;

}

.container{

align-items: center;
display: flex;
justify-content: space-between;

}


.logo{

font-size: 24px;
font-weight: bold;
color: aliceblue;
}



nav ul.nav-links{

display: flex;
list-style: none;

}
nav ul.nav-links li{

margin-left: 20px;

}
nav ul.nav-links li a{

text-decoration: none;
color: aliceblue;
font-size: 20px;
padding: 10px 15px;

}
nav ul.nav-links li a:hover{

background-color: rgb(110, 110, 236);
border-radius: 20px;


}